<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Scrappy Place</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Freehand&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">


	<link href="cover.css" rel="stylesheet">
	<script defer src="app.js"></script>
</head>
<body>
	<div class="cover-container text-dark">
		<header class>
			<div id="navvy" class="">
				<nav class="navbar navbar-expand-sm navbar-dark text-white bg-fade">
					<button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

					<a class="navbar-brand ps-3 fs-1" id="navbrand" href="index.html">My Scrappy Place</a>

					<div class="collapse navbar-collapse justify-content-end mx-3 text-white" id="nav-content">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link fs-4" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="aboutme.html">About Me</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="blog.html">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="events.html">Events</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle fs-4" data-bs-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="Preview" style="background: #429E9D;">
									<a class="dropdown-item" href="resources/must-have-tools.html">Must-Have Tools</a>
									<a class="dropdown-item" href="resources/advanced-tools.html">More Advanced Tools</a>
									<a class="dropdown-item" href="resources/storage-ideas.html">Storage Ideas</a>
									<a class="dropdown-item" href="resources/websites-&-youtube.html">Websites & YouTube Channels</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="contact.html">Connect</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main>
			<div class="hidden mx-4 text-white">
			<h1 class="fw-bold pt-3 text-center">Let's stay connected!</h3>
			<p>Fill out the following form if you like to get on my email list or send me a message. I'd love to hear from you if you have any thoughts about my blog posts, ideas for future blog posts, or questions about scrapbooking. I also encourage you to follow me on <a id="readmorelink" href="#">Instagram</a> and <a id="readmorelink" href="#">Facebook</a> and shop with me on <a href="https://www.creativememories.com/cm/criley" id="readmorelink" target="_blank" rel="noopener noreferrer">Creative Memories</a>.</p>
			<form class="row g-4" action="https://formsubmit.co/61a80f5129eb8b291c516794a243f084" style="font-size: 16px;" method="POST">
				<div class="col-md-6">
					<label for="firstName" class="form-label">First Name<span id="readmorelink">*</span></label>
					<input type="text" class="form-control" name="First Name" id=firstName required>
				</div>
				<div class="col-md-6">
					<label for="lastName" class="form-label">Last Name<span id="readmorelink">*</span></label>
					<input type="text" class="form-control" name="Last Name" id=lastName required>
				</div>
				<div class="col-md-8">
					<label for="Email" class="form-label">Email<span id="readmorelink">*</span></label>
					<input type="email" class="form-control" name="email" id="Email" required>
				</div>
				<div class="col-md-4">
					<label for="phoneNum" class="form-label">Phone Number</label>
					<input type="text" class="form-control" name="Phone" id="phoneNum" placeHolder="+1 (415) 867-5309">
				</div>
				<div class="col-md-12">
					<legend style="font-size: 16px;">Would you like to subscribe to my emailing list?</legend>

					<div class="form-check ms-4">
						<input class="form-check-input" type="radio" name="Mail_list_subscription" id="radio1" value="Yes">
						<label class="form-check-label">Yes</label>
					</div>

					<div class="form-check ms-4">
						<input class="form-check-input" type="radio" name="Mail_list_subscription" id="radio2" value="No">
						<label class="form-check-label">No</label>
					</div>

					<div class="form-check ms-4">
						<input class="form-check-input" type="radio" name="Mail_list_subscription" id="radio3" value="N/A">
						<label class="form-check-label">I'm already subscribed!</label>
					</div>
				</div>
				<div class="col-md-12">
					<label for="Message" class="form-label">Message</label>
					<textarea class="form-control" id="Message" name="message" rows="3"required></textarea>
				</div>
				<div class="col-md-12">
            		<button type="submit" class="btn">Submit</button>
          		</div>
			</form>
			<p class="fs-6 float-end"><span id="readmorelink">*</span> indicates required field.</p>
		</div>
		</main>

		<footer style="background: #008080;">

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.facebook.com/profile.php?id=100093904802924&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-facebook"></ion-icon></a>

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.instagram.com/myscrappyplace190/" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-instagram"></ion-icon></a>

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.youtube.com/@myscrappyplace190" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-youtube"></ion-icon></a>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>