body {
	font-family: 'Quicksand', sans-serif !important;
}

#navvy {
	font-family: 'Quicksand';
	font-size: 20px;
}

#navbrand {
	font-family: 'Cookie';
	font-size: 55px !important;
}

.card {
	background: gainsboro !important;
}

.btn {
	background: lightsteelblue !important;
	border: 0;
}