<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Scrappy Place</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Freehand&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

  <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  <script defer src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <div class="cover-container text-dark">
    <header class>
      
      <div class="hidden popup">
        <div style="margin: 0 55px;">
        <p style="padding: 0 0px; margin: 10px 0px 10px; color: #E0FFFF;" class="text-center">Click <a href="https://www.creativememories.com/cm/criley" id="readmorelink" target="_blank" rel="noopener noreferrer" style="font-weight: bold; color: #E0FFFF !important;">here</a> to shop with me on Creative Memories!</p>
        </div>
        <div class="popup-toggle" id="popup-toggle-id">
          <span class="bar" id="topbar"></span>
          <span class="bar" id="botbar"></span>
        </div>
      </div>
      <div id="navvy" class="has-pop-up" style="background: #008080;">
        <nav class="navbar navbar-expand-md navbar-dark d-large-flex" style="background: #008080;">
          <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <a class="navbar-brand ps-3 fs-1" id="navbrand" href="">My Scrappy Place</a>

          <div class="collapse navbar-collapse justify-content-end mx-3 text-white align-self-center" id="nav-content">
            <ul class="navbar-nav" style="color: #008080 !important;">
              <li class="nav-item align-self-start">
                <a class="nav-link fs-5" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="aboutme.html">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="events.html">Events</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5" data-bs-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Preview" style="background: #429E9D;">
                  <a class="dropdown-item" href="resources/must-have-tools.html">Must-Have Tools</a>
                  <a class="dropdown-item" href="resources/advanced-tools.html">More Advanced Tools</a>
                  <a class="dropdown-item" href="resources/storage-ideas.html">Storage Ideas</a>
                  <a class="dropdown-item" href="resources/websites-&-youtube.html">Websites & YouTube Channels</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="contact.html">Connect</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

    <footer class="has-pop-up" style="background: #008080;">

    <a class="hidden mx-2 text-white text-decoration-none" href="https://www.facebook.com/profile.php?id=100093904802924&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-facebook"></ion-icon></a>

    <a class="hidden mx-2 text-white text-decoration-none" href="https://www.instagram.com/myscrappyplace190/" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-instagram"></ion-icon></a>

    <a class="hidden mx-2 text-white text-decoration-none" href="https://www.youtube.com/@myscrappyplace190" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-youtube"></ion-icon></a>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>