<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>My Scrappy Place</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Freehand&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

	<link href="../cover.css" rel="stylesheet">
	<script defer src="../app.js"></script>
</head>
<body>
	<div class="cover-container text-dark">
		<header class>
			<div id="navvy" class="">
				<nav class="navbar navbar-expand-sm navbar-dark text-white bg-fade">
					<button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

					<a class="navbar-brand ps-3 fs-1" id="navbrand" href="../index.html">My Scrappy Place</a>

					<div class="collapse navbar-collapse justify-content-end mx-3 text-white" id="nav-content">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link fs-4" href="../index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="../aboutme.html">About Me</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="../blog.html">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="../events.html">Events</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle fs-4" data-bs-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="Preview" style="background: #429E9D;">
									<a class="dropdown-item" href="must-have-tools.html">Must-Have Tools</a>
									<a class="dropdown-item" href="advanced-tools.html">More Advanced Tools</a>
									<a class="dropdown-item" href="storage-ideas.html">Storage Ideas</a>
									<a class="dropdown-item" href="websites-&-youtube.html">Websites & YouTube Channels</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link fs-4" href="../contact.html">Connect</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main>
			<div class="resourceDiv">
				<h1 class="hidden pt-3 mb-3 text-center text-white fw-bold">Favorite Websites & Youtube Channels for Scrapping Inspiration — a SCRAPOLOGY of sorts :)</h1>	
				<!-- single tool -->
				<hr class="hidden mt-4">
				 <div class="mt-4">
					<h3 class="text-white">Creative Memories blog</h3>
					<div class="hidden fav-web-content">
						<p>
							Follow the <a class="lightlink" href="https://blog.creativememories.com/" target="_blank" rel="noopener noreferrer">CM blog</a> for excellent page layout ideas and sketches. Use the search box or categories drop down bar to find ideas for particular tools, collections, or occasions you want to scrap!
						</p>			
					</div>	
				</div>


				<!-- single tool -->
				 <div class="mt-4">
					<hr class="hidden simple-hr">
					<h3 class="text-white">Creative Memories Youtube Channel</h3>
					<div class="hidden fav-web-content">
						<p>
							Watch <a class="lightlink" href="https://www.youtube.com/playlist?list=PLnTNhDxOwXx-S2498dkNHemfk6Dl_dhT5" target="_blank" rel="noopener noreferrer">Fast & Fun projects with Noreen</a> every Wednesday at 5 pm central LIVE or watch the replays at your convenience. Noreen also has <a class="lightlink" href="https://www.youtube.com/playlist?list=PLnTNhDxOwXx-S2498dkNHemfk6Dl_dhT5" target="_blank" rel="noopener noreferrer">Scrapbooking 101 videos</a>, which are very helpful for beginners and long-time scrappers as well.
						</p>			
					</div>	
				</div>


				<!-- single tool -->
				 <div class="mt-4">
					<hr class="hidden simple-hr">
					<h3 class="text-white">Craft Some Joy</h3>
					<div class="hidden fav-web-content">
						<p>
							Lauren Hinds is an Independent Creative Memories advisor who has tons of helpful videos including <a class="lightlink" href="https://www.youtube.com/playlist?list=PLcKPmDfWGkpA6rz56qTp14icorKfeo4n3" target="_blank" rel="noopener noreferrer">"Tidy Up Tuesdays"</a> episodes regarding organization of your scrapbook supplies and space, and <a class="lightlink" href="https://www.youtube.com/playlist?list=PLcKPmDfWGkpDM4zTqA5pPAaKeduiELAaq" target="_blank" rel="noopener noreferrer">"Friday Night Scrapbooking."</a> She is definitely my favorite go to for ideas next to Noreen Smith! Sometimes I stream her videos while I'm scrapping and just watch and listen a bit and sometimes I build borders or scrap along with her. She is always inspiring and fun to watch!
						</p>			
					</div>	
				</div>


				<!-- single tool -->
				 <div class="mt-4">
					<hr class="hidden simple-hr">
					<h3 class="text-white">Organized & Creative Mom</h3>
					<div class="hidden fav-web-content">
						<p>
							<a class="lightlink" href="https://www.youtube.com/@Organizedandcreativemom" target="_blank" rel="noopener noreferrer">This YouTube channel</a> is Noreen Smith's older stuff from before she went to work for Creative Memories home office. As always, she has so many great tips and ideas. Whenever you are stuck and need some inspiration, check out her videos, old or new!
						</p>			
					</div>	
				</div>


				<!-- single tool -->
				 <div class="mt-4">
					<hr class="hidden simple-hr">
					<h3 class="text-white">Create with Krislyn</h3>
					<div class="hidden fav-web-content">
						<p>
							Krislyn is an Independent Creative Memories Advisor and blog contributor for Creative Memories. She makes beautiful layouts and has excellent step by step instruction videos. See her YouTube channel <a class="lightlink" href="https://www.youtube.com/@createwithkrislyn" target="_blank" rel="noopener noreferrer">here</a>.
						</p>			
					</div>	
				</div>


				<!-- single tool -->
				 <div class="mt-4">
					<hr class="hidden simple-hr">
					<h3 class="text-white">Meggan Jacks Scrapbooking</h3>
					<div class="hidden fav-web-content">
						<p>
							Meggan is an Independent Creative Memories Advisor who posts <a class="lightlink" href="https://www.youtube.com/@MegganJacks" target="_blank" rel="noopener noreferrer">regular videos</a> where she demonstrates how to put together page layouts from Creative Memories sketches and recipes (many come from the CM blog).
						</p>			
					</div>	
				</div>
				<hr class="hidden simple-hr">
				
			</div>
		</main>

		<footer style="background: #008080;">

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.facebook.com/profile.php?id=100093904802924&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-facebook"></ion-icon></a>

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.instagram.com/myscrappyplace190/" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-instagram"></ion-icon></a>

			<a class="hidden mx-2 text-white text-decoration-none" href="https://www.youtube.com/@myscrappyplace190" target="_blank" rel="noopener noreferrer"><ion-icon class="social-icon"name="logo-youtube"></ion-icon></a>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>