body {
	font-family: 'Quicksand', sans-serif !important;
	background: #008080 !important

}

.cover-container {
	background: #008080 !important;
}

#navvy {
	font-family: 'Quicksand';
	font-size: 20px;
}

#navbrand {
	font-family: 'Cookie';
	font-size: 55px !important;
}

.card {
	background: #429E9D !important;
	color: white !important;
	border-color: #E0FFFF;
	border-style: dotted;
}

.btn {
	background: #E0FFFF !important;	
	border: 0;
	color: #008080 !important;
}

#readmorelink {
	color: #48D1CC;
}